{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <title>Banner Example</title>
  
</head>
<body>
    <div class="banner">
        <h1>Welcome to Our Website</h1>
        <p>Experience seamless coin detection with our innovative app, powered by Google Teachable Machine and Django. </p>
        <p> Effortlessly identify and categorize coins with precision, using advanced machine learning algorithms.  </p>
        <p> Simplify your coin recognition process and explore the world of AI-enhanced detection today!</p>
    </div>
</body>
</html>
