{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <title>Coin Detection</title>
</head>
<body>
    {% include 'navbar.html' %}
    {% include 'banner.html'%}
    <div class="container">
        <h1>Coin Detection</h1>
        <div class="coin-detection-form-container" style="display: flex; justify-content: center;">
            <form id="coinDetectionForm" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="image" accept="image/*"  required>
                <button type="submit">Detect</button>
            </form>
        </div>        
        {% if image_url %}
        <div class="result-container">
            <img src="{{ image_url }}" alt="Submitted Image" class="image">
            <div class="confidence-scores">
                <h2>Results:</h2>
                <ul id="recentDetections">
                    {% for class_name, confidence_score in class_names_with_scores %}
                    <li>
                        <span class="bold-text">{{ class_name }}</span>
                        <progress value="{{ confidence_score }}" max="1" class="progress-bar {% if confidence_score >= 0.7 %}high-confidence{% elif confidence_score >= 0.4 %}medium-confidence{% else %}low-confidence{% endif %}"></progress>
                        <span class="confidence_score">{{ confidence_score }}</span>
                    </li>
                    {% endfor %}
                </ul>
                <h2>Total Value: {{ total_value }}</h2>
                <div class="reset-session">
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" name="reset_session">Reset Session</button>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
       
        <div class="container">
            <h2>Recent Detections:</h2>
            <table>
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Class Name</th>
                        <th>Confidence Score</th>
                        <th>Total Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for detection in detections %}
                    <tr class="{% if forloop.counter > 10 %}hidden{% endif %}">
                        <td><img src="{{ detection.image_url }}" alt="Image" class="detection-image"></td>
                        <td>{{ detection.class_name }}</td>
                        <td>{{ detection.confidence }}</td>
                        <td>{{ detection.total_value }}</td>
                    </tr>
                    {% endfor %}
                    {% if detections|length > 10 %}
                    <tr id="show-more-row">
                        <td colspan="4"><a href="#" id="show-more">Show More</a></td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>

</body>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var showMoreLink = document.getElementById('show-more');
        var hiddenRows = document.querySelectorAll('.hidden');

        showMoreLink.addEventListener('click', function (event) {
            event.preventDefault();
            hiddenRows.forEach(function (row) {
                row.classList.remove('hidden');
            });
            showMoreLink.parentElement.parentElement.remove();
        });
    });
</script>
</html>
